name: Build and Deploy Dockerfiles
run-name: ${{ github.actor }} is building Docker images
on: [push]
jobs:
  build-docker-images:
    permissions: write-all
    runs-on: ubuntu-22.04
    steps:
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        run: ./build.sh

